{% extends 'base.html' %}

{% block content %}
<ol class="list-group list-group-numbered">
  {% for object in object_list %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{ object.text }}</div>
      {{ object.text }}
    </div>
    <div class="ms-2 me-auto">
      <a class="btn btn-outline-info" href="{% url 'survey:question_detail' object.id %}" role="button">Detail</a>
      <a class="btn btn-outline-warning" href="{% url 'survey:question_update' object.id %}" role="button">Update</a>
      <a class="btn btn-outline-danger" href="{% url 'survey:question_delete' object.id %}" role="button">Delete</a>
    </div>
    <span class="badge bg-primary rounded-pill">{{ question.number_of_votes }}</span>
  </li>
  {% endfor %}
</ol>

{% if page_obj %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif%}
{% endblock content %}